@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

  background: #555;
}


@layer components {
  .video-react .video-react-big-play-button {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 !important;
  }
}